@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700;800;900&display=swap');

:root{
    --color-primary: #574ae8;
    --color-gray-10: #1a202c;
    --color-gray-20: #717171;
    --color-gray-30: #f3f5f7;
    --color-gray-40: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--color-gray-30);
}
button{
    cursor: pointer;
}
ul,li{
    list-style: none;
}
input{
    outline: none;
}